.cambioModalBackground {
  width: 100vw;
  height: 100vw;
  background-color: rgba(126, 126, 126, 0.885);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}

.cambioContainer {
  margin-top: -40px;
  background-color: rgb(217, 217, 217);
  width: 760px;
  min-height: 400px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.cancelarContainer {
  display: flex;
  background-color: rgb(101, 148, 218);
  width: 100%;

  justify-content: flex-end;
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
}
.cancelarContainer > button {
  border: none;
  color: white;
  background-color: rgb(196, 196, 196);
  border-radius: 6px;
  padding: 0px;
  height: 50px;
  font: 0px;
  width: 60px;
}

.cambioParaCliente {
  font-size: 40px;
  padding: 20px;
  color: gray;
  width: 100%;

  text-align: center;
}

.moneyLogo {
  color: rgb(136, 136, 136);
  font-size: 80px;
}

.totalCambio {
  font-size: 70px;
  color: rgb(240, 124, 0);
}

.cambioEnLetra {
  color: gray;
  font-weight: 400;
  font-size: 18px;
}
