:root {
	--rosa-bg: #fe78f5;
	--rosaFuerte-bg: #f8568c;
	--naranja-bg: #ff7979;
	--azul-bg: #6da6fb;
	--morado-bg: rgb(135, 129, 244);
	--moradoClaro-bg: rgb(162, 158, 239);
	--verdeClaro-bg: rgb(100, 223, 164);
	--verde-bg: rgb(26, 190, 149);
}
